# Angular
client/**/node_modules/
client/**/dist/
client/**/.angular/

# ASP.NET Core
api/**/bin/
api/**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Secrets
appsettings.Development.json
.env

# Logs
*.log